<h2>Landmarks:</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Year Completed</th>
        <% @landmarks.each do |landmark| %>
            <tr>
                <td><%= landmark.name %></td>
                <td><%= landmark.year_completed %></td>
            </tr>
        <% end %>
    </tr>
</table>