<h2>Figures:</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Title(s)</th>
    </tr>
    <% @figures.each do |figure| %>
        <tr>
            <td><%= figure.name %></td>
            <td></td>
        </tr>
    <% end %>
</table>