<h2>Figure</h2>

<h3>Name: </h3><%= @figure.name %>
<h3>Title(s): </h3>
<ul>
  <% @figure.titles.each do |title| %>
        <li><%= title.name %></li>
    <% end %>
</ul>
<h3>Landmark(s):</h3>
<ul>
  <% @figure.landmarks.each do |landmark| %>
        <li><%= landmark.name %></li>
    <% end %>
</ul>